html {
    width: 100%;    
}

body {
    margin-top: 60px;
    margin: 0px;
    width: 100%;
}

.profileBody {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

div {
    width: 100%;
    text-align: center;
    float: left;
    margin: 0 auto;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Roboto', sans-serif;
	font-size:40px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
    color:white;
    margin:auto;
    line-height:60px;
    vertical-align:middle;
}

.topBar {
    background-color: rgba(37, 134, 254, 1.0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 0px;
}

img {
    justify-content:center;
    align-items:center;
    opacity:1.0;
    border-radius:20px;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
}

.icon {
    width:200px;
    height:200px;
    display:flex;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
	font-size:40px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
    color:white;
    line-height:200%;
}

a, p {
    font-family: 'Roboto', sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:26px;
    color:white;
    text-decoration: none;
    line-height:200%;
}

p {
    margin-left: 300px;
    margin-right: 300px;
}

.space {
    height: 30px;
}

.gemini, .lookingGlass {
    background-color:rgba(53, 110, 251, 1.0);
}

.sharePal {
    background-color:rgba(66, 180, 55, 1.0);
}

.heliHavoc {
    background-color:rgba(83, 159, 254, 1.0);
}

.conjungo {
    background-color: black;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (orientation:portrait) {
    .topBar, .space {
        height: 180px;
    }
    
    h1 {
        font-size: 100px;
        text-align: center;
        margin-top: 50px;
    }
    
    h2 {
        font-size: 85px;
    }
    
    h3 {
        font-size: 70px;
    }
    
    #icon {
        width: 400px;
        height: 400px;
    }
    
    a, p {
        font-size: 50px;
    }
    
    p {
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .gemini {
        margin-top: 80px;   
    }
}