.projects {
    display: block;
    margin-top: 7.5%;
    left: 15%;
    width: 70%;
    text-align: center;
}

.project {
    background-color: white;
    width: 42%;
    margin-top: 30px;
    margin-bottom: 0px;
    float: left;
    padding: 15px;
}

.l {
    margin-left: 6%;
    margin-right: 2%;
}

.r {
    margin-right: 6%;
    margin-left: 2%;
}

.topic {
    font-size: 40px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
}

h1 > a:before {
    height: 4px;
    border-radius: 2px;
}

h5 {
    font-size: 25px;
}

h6 {
    margin-top: 10px;
    font-size: 18px;
    min-height: 40px;
    max-height: 100px;
}

@media screen and (orientation:portrait) {

    .topic {
        font-size: 60px;
    }

    .projects {
        margin-top: 17.5%;
        left: 12.5%;
        width: 75%;
    }

    .project {
        width: 92%
    }

    h5 {
        font-size: 50px;
    }

    h6 {
        font-size: 36px;
        width: 75%;
        margin-left: 12.5%;
        text-align: center;
    }

}
