h1 {
    text-align: center;
}

.name {
    margin-top: 50px;
    margin-bottom: 20px;
}

.desc {
    width: 50%;
    text-align: center;
    line-height: 2.25;
    margin: 0 auto;
}

h1 > a:before {
    height: 4px;
    border-radius: 2px;
}

.info {
    width: 150%;
    height: 300px;
    transform: translate(-50%, -50%);
}

.view {
    margin-top: 70px;
    font-size: 26px;
}

@media screen and (max-width:700px) {

    .info {
        top: 30%;
    }

}

@media screen and (orientation:portrait), screen and (max-width:700px) {

    .info {
        top: 20%;
    }

}
